<div class="home-container">
  <app-header></app-header>
  <app-hero></app-hero>
  <div class="row">
    <div class="home-info">
      <div class="home-info-title">
        <span>Speak out. Be hard.</span>
        <h1>Be counted</h1>
      </div>
      <div class="home-info-description">
        <p>
          Rule of Thumb is a crowd sourced court of public opinion where anyone and everyone can speak out and speak freely. It’s easy: You share your opinion, we analyze and put the data in a public report.
        </p>
      </div>
      <div class="home-info-action">
        <span>X</span>
      </div>
    </div>
  </div>
  <app-votes-section></app-votes-section>
  <app-footer></app-footer>
</div>
