.row {
  max-width: 64rem;
  margin: 0px auto;
  display: flex;

  @include responsive(phone) {
    max-width: 30rem;
  }

  .col {
    flex: 1;
    margin: 0 1.5em;

    &:first-child {
      margin-left: 0;
    }

    &:last-child{
      margin-right: 0;
    }
  }
}

.container {
  padding: 0 2em;
}
